#sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00cec9;
    opacity: 70%;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 2%;
  }

#main {
    margin-left: 25%;
    padding: 2%;
}